---
import Navigation from 'src/components/post/Navigation.astro';
import Layout from 'src/layouts/ru/Post.astro';
---

<Layout {...Astro.props}>
	<Fragment>
		<div style="background: var(--background-secondary);">
			<Navigation title="Браузерный рендеринг" series="browser-rendering" />
		</div>
		<slot />
	</Fragment>
</Layout>
