---
import Link from 'src/components/Link.astro';
---
<nav class="post-navigation">
    <div class="post-navigation__title">
        Безопасность браузера:
    </div>
    <ul class="post-navigation__menu">
        <li class="post-navigation__item"><Link href="/ru/posts/2020/browser-security-site-isolation">Site isolation</Link></li>
        <li class="post-navigation__item"><Link href="/ru/posts/2021/browser-security-sop">Same origin policy</Link></li>
    </ul>
</nav>