---
import ActiveLink from 'src/components/ActiveLink.astro';
---
<nav class="post-navigation">
    <div class="post-navigation__title">
        Краткая история развития HTTP:
    </div>
    <ul class="post-navigation__menu">
        <li class="post-navigation__item"><ActiveLink href="/ru/posts/2022/http-0.9">HTTP 0.9. Однострочный протокол</ActiveLink></li>
        <li class="post-navigation__item"><ActiveLink href="/ru/posts/2022/http-1.0">HTTP 1.0. </ActiveLink></li>
        <li class="post-navigation__item"><ActiveLink href="/ru/posts/2022/http-1.1">HTTP 1.1. </ActiveLink></li>
        <li class="post-navigation__item"><ActiveLink href="/ru/posts/2022/http-cookie">HTTP State Managent Mechanism</ActiveLink></li>
    </ul>
</nav>