---
import Link from 'src/components/Link.astro';
---
<nav class="post-navigation">
    <div class="post-navigation__title">
        Краткая история развития HTTP:
    </div>
    <ul class="post-navigation__menu">
        <li class="post-navigation__item"><Link href="/ru/posts/2022/http-0.9">HTTP 0.9. Однострочный протокол</Link></li>
        <li class="post-navigation__item"><Link href="/ru/posts/2022/http-1.0">HTTP 1.0. </Link></li>
        <li class="post-navigation__item"><Link href="/ru/posts/2022/http-1.1">HTTP 1.1. </Link></li>
        <li class="post-navigation__item"><Link href="/ru/posts/2022/http-cookie">HTTP State Managent Mechanism</Link></li>
    </ul>
</nav>