---
import { marked } from 'marked';
import { formatFullDate } from 'src/lib/content';
import { t, readingTime } from 'src/locales';

export interface Props {
  posts: any[];
}

const { posts } = Astro.props;
---

<style>
  .post-previews {
    margin: 2em 0;
  }
  .post-preview {
    margin-bottom: 1.2em;
    border-bottom: 1px solid var(--post-preview-line-color);
    padding-bottom: 1.2em;
  }
  .post-preview:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .post-preview__title {
    font-size: 1.3em;
    display: block;
  }
  .post-preview__meta {
    margin: 0.5em 0;
    color: #868686;
    font-size: var(--font-size-smaller);
  }
  .post-preview__content {
    margin: 1em 0;
    font-size: var(--font-size-base);
    font-weight: 300;
    line-height: 1.3em;
  }
</style>
<section class="post-previews">
  {
    posts.map((post) => (
      <article class="post-preview">
        <a
          href={post.frontmatter.externalUrl || post.url}
          class="post-preview__title"
        >
          {post.frontmatter.title}
        </a>

        <div class="post-preview__meta">
          {post.frontmatter.pubDate ? (
            <time
              datetime={post.frontmatter.pubDate}
              class="post-preview__date"
            >
              {post.frontmatter.pubDate &&
                formatFullDate(post.frontmatter.pubDate)}
            </time>
          ) : null}
          {post.frontmatter.minutesRead ? (
            <>• {readingTime(post.frontmatter.minutesRead)}</>
          ) : null}
        </div>

        {post.frontmatter.description && (
          <div
            class="post-preview__content"
            set:html={marked.parse(post.frontmatter.description)}
          />
        )}

        <div class="post-preview__link">
          <a href={post.frontmatter.externalUrl || post.url}>{t('readMore')}</a>
        </div>
      </article>
    ))
  }
</section>
