---
import { readingTime } from 'src/locales';
import Link from '../Link.astro';

export interface Props {
  title?: string;
  posts: any[];
}

const { title, posts } = Astro.props;
const defaultHeroImage =
  'https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bm90ZWJvb2t8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60';
---

<style>
  .section-posts__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--spacer-xs);
  }
  .section-posts__title {
    display: block;
    font-size: var(--font-size-heading-h2);
    margin-bottom: var(--spacer-xl);
  }
  .section-posts__sidebar {
    display: block;
    font-size: var(--font-size-heading-h4);
  }
  .section-posts__link-to-more {
    white-space: nowrap;
  }
  .section-posts__sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacer-l);
  }
  .section-posts__section {
    flex: 1 1 30%;
    margin-bottom: var(--spacer-base);
  }
  .section__post-meta {
    font-size: var(--font-size-tiny);
    color: var(--color-text-secondary);
    margin: var(--spacer-s) 0;
  }
  .section__post-title {
    color: var(--color-text-base);
    font-size: var(--font-size-heading-h4);
    margin: var(--spacer-m) 0;
  }
  .section__image-container {
    height: 250px;
    overflow: hidden;
  }
  .section__image {
    transition: all 0.5s;
    height: 250px;
    padding: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
  }
  .section__image:hover {
    padding: 0;
  }

  @media (max-width: 768px) {
    .section-posts__section {
      flex: 1 1 45%;
    }
  }
  @media (max-width: 576px) {
    .section-posts__header {
      flex-wrap: wrap;
      margin: var(--spacer-xl) 0;
    }
    .section-posts__title {
      margin: 0;
    }
    .section-posts__section:first-child {
      display: block;
    }
    .section__post-title {
      margin: 0;
    }
    .section-posts__section {
      flex: 1 auto;
    }
  }
</style>

<div class="section-posts__container">
  <div class="section-posts__header">
    <h2 class="section-posts__title">
      {title}
    </h2>
    <div class="section-posts__sidebar">
      <slot name="sidebar">
        <Link
          href="/ru/posts"
          class="section-posts__link-to-more"
        >
          все записи →
        </Link>
      </slot>
    </div>
  </div>
  <slot name="tags" />
  <div class="section-posts__sections">
    {
      posts.map((post) => (
        <Link
          href={post.frontmatter.externalUrl || post.url}
          class={`section-posts__section`}
        >
          <div class="section__image-container">
            <div
              class="section__image"
              style={`background-image: url('${
                post.frontmatter.heroImage || defaultHeroImage
              }')`}
            />
          </div>
          <div class="section__post-meta">
            {post.frontmatter.pubDate}
            {post.frontmatter.minutesRead ? (
              <>— {readingTime(post.frontmatter.minutesRead)}</>
            ) : null}
          </div>
          <div class="section__post-title">{post.frontmatter.title}</div>
        </Link>
      ))
    }
  </div>
</div>
