---
import Link from 'src/components/Link.astro';
import { t } from 'src/locales';

export interface Props {
  tags: [string, number][];
  selectedTag?: string;
}

const { tags, selectedTag = '' } = Astro.props;
---

<style>
  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 0;
  }
  .tags__tag {
    display: inline-block;
    background: var(--background-quaternary);
    color: var(--color-text-base);
    border-radius: 10px;
    margin: 0 0.7em 0.7em 0;
    padding: 1em;
  }
  .tags__tag-count {
    color: var(--color-text-secondary);
    padding: 0 0 0 0.5em;
  }
  .tags__tag--selected {
    background: var(--background-highlighted);
  }
  .tags__tag--selected .tags__tag-count {
    color: var(--color-text-base);
  }
  .tags__tag:hover {
    background: var(--background-tertiary);
  }
</style>
<div class="tags">
  {
    tags.map(([tag, count]) => (
      <Link
        href={`/ru/posts/tags/${tag}/`}
        class={`tags__tag ${selectedTag == tag ? 'tags__tag--selected' : ''}`}
      >
        {t(tag)}
        <span class="tags__tag-count">{count}</span>
      </Link>
    ))
  }
</div>
