---
import Navigation from 'src/components/post/Navigation.astro';
import Layout from 'src/layouts/ru/Post.astro';
---

<Layout {...Astro.props}>
  <Fragment>
    <div style="background: var(--background-secondary);">
      <Navigation title="Безопасность браузера" series="browser-security" />
    </div>
    <slot />
  </Fragment>
</Layout>
