@font-face {
	src: url('/fonts/Roboto-Regular.ttf') format('ttf');
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url('/fonts/Roboto-Italic.ttf') format('ttf');
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url('/fonts/Roboto-Bold.ttf') format('ttf');
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	src: url('/fonts/Roboto-BoldItalic.ttf') format('ttf');
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}


/* base vars */


:root {
	color-scheme: light dark;

	--layout-width-base: 940px;
	--layout-padding-base: 1rem;

	--color-text-base: #222;
	--color-text-heading: #111827;

	--color-text-secondary: #4e4e4e;
	--color-text-link: #0069c2;
	--color-text-button: #000;

	--background-primary: #f0f0f0;
    --background-secondary: #fff;

	--font-family-primary: 'Roboto', sans-serif;

	--font-size-heading-h1: 2.488rem;
    --font-size-heading-h2: 2.074rem;
    --font-size-heading-h3: 1.728rem;
    --font-size-heading-h4: 1.44rem;
    --font-size-heading-h5: 1.2rem;

    --font-size-base: 1rem;
    --font-size-smaller: 0.84rem;
    --font-size-tiny: 0.67rem;

	/* header */

	--header-background-color: #384a59;
	--header-layout-height: 70px;
	--header-text-size: 1.5rem;
	--header-text-color: #fff;

	--header-link-color: #ccc;
	--header-link-actived-color: #fff;

	--header-menu-toogler-width: 24px;
	--header-menu-background: #000;
	--header-menu-toogler-line-size: 2px;
	--header-menu-toogler-line-color: #555;

	/* post */

	--post-meta-color: #ccc;
	--post-preview-line-color: #ccc;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: var(--font-family-primary);
	background-color: var(--background-primary);
	color: var(--color-text-base);
}
h1,
h2,
h3,
h4,
h5,
strong,
b {
	color: var(--color-text-heading);
}
h1 {
	font-size: var(--font-size-heading-h1);
	font-weight: 400;
}
h2 {
	font-size: var(--font-size-heading-h2);
	font-weight: 400;
}
h3 {
	font-size: var(--font-size-heading-h3);
	font-weight: 400;
}
h4 {
	font-size: var(--font-size-heading-h4);
}
h5 {
	font-size: var(--font-size-heading-h5);
}
a {
	color: var(--color-text-link);
	text-decoration: none;
}
table {
	width: 100%;
}
code {
	padding: 2px 5px;
	background-color: var(--background-secondary);
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}

blockquote {
    background: var(--background-secondary);
    color: #222;
    padding: 0.5rem 1rem;
    margin: 1.3rem 0;
}

.button {
	background: var(--background-secondary);
	color: var(--color-text-button);
	border: 1px solid #999;
	padding: 0.5em 1em;
	border-radius: 1em;
	cursor: pointer;
	transition: 0.2s all;
}

.button:active {
	transform: scale(0.98);
}

/* header */

.header {
	background: var(--header-background-color);
	height: var(--header-layout-height);
	position: sticky;
    transition: top 0.2s ease-in-out;
	display: flex;
	top: 0;
	width: 100%;
	z-index: 10;
}

.header--hidden {
	top: calc(-1 * var(--header-layout-height));
}

.header__container {
	display: flex;
	flex: 1;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	max-width: var(--layout-width-base);
	padding: 0 var(--layout-padding-base);
}

.header__title {
	font-size: var(--header-text-size);
	color: var(--header-text-color);
}

.header__nav {
	display: flex;
}

.header__link {
    color: var(--header-link-color);
	position: relative;
    margin: 0 0 0 0.7em;
    padding: 0.3em 0.7em;
}

.header__link.active {
	color: var(--header-link-actived-color);
}

.header__link:hover:not(.active) {
	opacity: 1;
	color: var(--header-link-actived-color);
}

/* header / menu + checkbox */

.header__menu {
    display: none;
}

.header__checkbox {
    display: none;
}

.header__checkbox:checked ~ .header__menu {
    display: block;
    position: fixed;
    top: var(--header-layout-height);
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--header-menu-background);
    padding: 0;
}

.header__checkbox:checked ~ .header__menu .header__nav {
    display: block;
}

.header__checkbox:checked ~ .header__menu .header__link {
    border-top: 1px #ccc solid;
    display: block;
    margin: 0;
    padding: 1em;
    border-radius: 0;
}

.header__checkbox:checked ~ .header__toggler .header__toggler-line {
    background: transparent;
}

.header__checkbox:checked ~ .header__toggler .header__toggler-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.header__checkbox:checked ~ .header__toggler .header__toggler-line::after {
    transform: rotate(45deg);
    top: 0;
}

/* header / toggler */

.header__toggler {
    cursor: pointer;
    padding: 20px 10px;
    margin: 0 -10px;
	width: var(--header-menu-toogler-width);
}

.header__toggler-line {
    background: var(--header-menu-toogler-line-color);
    display: block;
    height: var(--header-toogler-line-size);
    position: relative;
    width: 100%;
    
}

.header__toggler-line::before,
.header__toggler-line::after {
    background: var(--header-menu-toogler-line-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header__toggler-line::before {
    top: 6px;
}

.header__toggler-line::after {
    top: -6px;
}

@media (min-width: 768px) {
    .header__menu {
        display: block;
    }
    .header__toggler {
        display: none;
    }
}


/* content */

.content {
	flex: 1;
	background: var(--background-primary);
}

.content__container {
	max-width: var(--layout-width-base);
	padding: 0 var(--layout-padding-base);
	margin: calc(2 * var(--layout-padding-base)) auto;
}

.content__inline-icon {
	vertical-align: bottom;
}

/* mainpage */

.mainpage__hero {
	position: relative;
	flex: 1;
	font-size: 1.5em;
	padding-top: calc(5em + var(--header-layout-height));
	padding-bottom: 4em;
}

.mainpage__hero-container {
	position: relative;
	font-size: 1.1em;
	color: var(--text-secondary);
	max-width: var(--layout-width-base);
	margin: 0 auto;
	height: 3em;
	z-index: 1;
}

.mainpage__hero-background {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	opacity: 0.2;
}

.mainpage__section {
	margin: 3em 0;
}

.mainpage__notes {
	display: flex;
	flex-direction: row;
	gap: 2em;

}

.mainpage__notes-navigation {
	flex: 1;
	margin-bottom: 1em;
}

@media (max-width: 768px) {
	.mainpage__hero {
		padding-top: calc(2em + var(--header-layout-height));
		padding-bottom: 3em;
	}
	.mainpage__hero-container {
		font-size: 1em;
		padding: 0 1em;

	}
	.mainpage__notes {
		display: block;
	}
}

/* archive */

.archive-description {
    font-size: var(--font-size-smaller);
}

.archive__items-title {
    padding: 0;
    font-size: 1.15em;
}

.archive__items {
    margin: var(--layout-padding-base) 0;
    padding: 0 0 0 var(--layout-padding-base);
}

.archive__item {
    font-size: 1.1em;
}

.archive__item-time {
	display: inline-block;
	color: #999;
}

/* posts / header */

.posts-header {
	display: flex;
	align-items: center;
}

.posts-header__title {
	flex: 1;
	margin: 0;
}

.posts-header__menu {
	text-align: right;
	flex: auto;
	list-style: none;
	padding: 0;
	margin: 0;
}

.posts-header__item {
	display: inline-block;
	padding-left: 0.2em;
}

.posts-header__rss {
	vertical-align: text-top;
}

/* posts / items */

.posts-items {
	margin: 2em 0;
}

.posts-items__title {
    display: inline-block;
}

/* posts / previews */

.post-previews {
	margin: 2em 0;
}

.post-preview {
	margin-bottom: 1.2em;
    border-bottom: 1px solid var(--post-preview-line-color);
    padding-bottom: 1.2em;
}

.post-preview:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
    border-bottom: none;
}

.post-preview__title {
	font-size: 1.3em;
    display: block;
}

.post-preview__meta {
	margin: 0.5em 0;
	color: #555;
	font-size: var(--font-size-smaller);
}

.post-preview__content {
	margin: 1em 0;
    font-size: var(--font-size-base);
    line-height: 1.3em;
}

/* posts / navigation */

.post-navigation {
	background: var(--background-secondary);
	padding: var(--layout-padding-base);
}

.post-navigation__title {
	font-weight: 700;
}

.post-navigation__menu {
	margin: 1em 0 0 0;
	padding: 0 0 0 1.5em;
}

.post-navigation__item {
	margin: 0;
	padding: 0 0 0.5em 0;
}

/* post / attachment */

.post__attachment {
	margin: var(--layout-padding-base) 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post__attachment-icon {
	display: block;
    width: 50px;
    margin: 0;
    padding-right: 10px;
    flex: 0 0 50px;
    margin: 0;
}

.post__attachment-description {
	flex: 1;
}

/* posts / pagination */

.posts-pagination {
	display: flex;
	flex-direction: row;
}

.posts-pagination__prev {
	flex: 1;
	text-align: left;
}

.posts-pagination__next {
	flex: 1;
	text-align: right;
}

/* posts / post */

.post__title {
	margin-bottom: 0.2em;
}

.post__title {
	margin-bottom: 0.2em;
}

.post__meta {
	font-size: var(--font-size-smaller);
	margin-bottom: var(--layout-padding-base);
}

.post__image {
	margin: calc(2 * var(--layout-padding-base)) auto;
	max-width: 100%;
	max-height: 500px;
	display: block;
}

.post__content {
	margin: calc(2 * var(--layout-padding-base)) 0;
}

.post__content img {
	max-width: 100%;
}

.post__content p {
    line-height: 1.4em;
    margin: 1.3em 0;
}

.post__content li {
	padding: 0.2em 0;
}

.post__content iframe {
	display: block;
	text-align: center; 
	margin: 1em auto;
	width: 100%;
	min-height: 400px;
}

.post__back {
	margin: var(--layout-padding-base) 0;
}

/* footer */

.footer {
	background: var(--background-secondary);
	margin-top: var(--layout-padding-base);
}

.footer__container {
	max-width: var(--layout-width-base);
	padding: 0 var(--layout-padding-base);
	margin: calc(2 * var(--layout-padding-base)) auto;
	display: flex;
	color: var(--text-secondary);
	font-size: var(--font-size-smaller);
	max-width: var(--layout-width-base);
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__copyright {
	flex: 0 1 auto;
}

.footer__build-with {
	flex: auto;
}