/* fonts */

/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/TK3iWkUHHAIjg752HT8Gl-1PK62t.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/TK3iWkUHHAIjg752HT8Gl-1PK62t.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/TK3iWkUHHAIjg752HT8Gl-1PK62t.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCAYb9lecyVC4A.woff2)
    format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYb9lecyU.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/ieVl2ZhZI2eCN5jzbjEETS9weq8-19a7DQk6YvNkeg.woff2)
    format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQk6YvM.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCAYb9lecyVC4A.woff2)
    format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYb9lecyU.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* base vars */

:root {
  color-scheme: dark light;

  --spacer-2xs: .25rem;
  --spacer-xs: .5rem;
  --spacer-s: .75rem;
  --spacer-base: 1rem;
  --spacer-m: 1.5rem;
  --spacer-l: 2rem;
  --spacer-xl: 2.5rem;
  --spacer-2xl: 4rem;
  --spacer-3xl: 5rem;

  --layout-width-base: 940px;
  --layout-padding-base: var(--spacer-base);

  --color-text-base: #fff;
  --color-text-base-inverted: #000;
  --color-text-heading: var(--color-text-base);

  --color-text-secondary: #7588a4;
  --color-text-link: #2892ff;
  --color-text-button: var(--color-text-base-inverted);

  --color-border-primary: #3b4960;

  --background-primary: #18202c;
  --background-secondary: #111822;
  --background-tertiary: #2f3d52;
  --background-quaternary: #080b0e;
  --background-substrate: #243144;
  --background-highlighted: #007dff;

  --font-family-primary: 'Oswald', sans-serif;
  --font-family-secondary: 'Roboto Condensed', sans-serif;

  --font-size-heading-h1: 3rem;
  --font-size-heading-h2: 2.4rem;
  --font-size-heading-h3: 2rem;
  --font-size-heading-h4: 1.5rem;
  --font-size-heading-h5: 1.2rem;

  --font-size-loud: 1.4rem;
  --font-size-base: 1.1rem;
  --font-size-smaller: 1rem;
  --font-size-tiny: 0.8rem;

  /* header */

  --header-background-color: var(--background-secondary);
  --header-layout-height: 70px;
  --header-text-size: 1.5rem;
  --header-text-color: var(--color-text-base);

  --header-link-color: #ccc;
  --header-link-actived-color: var(--color-text-base);

  --header-menu-toogler-width: 24px;
  --header-menu-background: var(--background-primary);
  --header-menu-toogler-line-size: 2px;
  --header-menu-toogler-line-color: var(--color-text-base);
  --header-menu-separator-color: var(--color-border-primary);

  /* hero */

  --hero-title-font-size: 7.5rem;
  --hero-title-font-size-smaller: 4rem;

  /* post */

  --post-meta-color: var(--color-text-secondary);
  --post-preview-line-color: var(--color-border-primary);

  --post-blockquote-background-color: var(--background-tertiary);
  --post-blockquote-border-color: #fff;
  --post-blockquote-text-color: #e3e3e3;

  --post-code-background-color: #1062aa;

  --post-footer-background-color: var(--background-secondary);

  /* footer */

  --footer-background-color: var(--background-secondary);
}

::selection {
  background: var(--background-highlighted);
  color: var(--color-text-base);
}

::-moz-selection {
  background: var(--background-highlighted);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--background-primary);
  font-family: var(--font-family-secondary);
  color: var(--color-text-base);
}
h1,
h2,
h3,
h4,
h5,
strong,
b {
  color: var(--color-text-heading);
}
h1 {
  color: var(--font-size-heading-h1);
  font-size: var(--font-size-heading-h1);
  font-weight: 400;
}
h2 {
  font-size: var(--font-size-heading-h2);
  font-weight: 400;
}
h3 {
  font-size: var(--font-size-heading-h3);
  font-weight: 400;
}
h4 {
  font-size: var(--font-size-heading-h4);
}
h5 {
  font-size: var(--font-size-heading-h5);
}
a {
  color: var(--color-text-link);
  text-decoration: none;
}
table {
  width: 100%;
}
code {
  padding: 2px 5px;
  background-color: var(--post-code-background-color);
  border-radius: 3px;
}
pre {
  padding: var(--spacer-base);
}
pre > code {
  all: unset;
}

blockquote {
  font-size: var(--font-size-smaller);
  background: var(--post-blockquote-background-color);
  color: var(--post-blockquote-text-color);
  padding: var(--spacer-s);
  margin: var(--spacer-m) 0;
  border-left: 1px solid var(--post-blockquote-border-color);
}

blockquote > p:first-child { 
  margin-top: 0;
}

blockquote > p:last-child { 
  margin-bottom: 0;
}

.button {
  background: var(--background-secondary);
  color: var(--color-text-button);
  border: 1px solid var(--color-border-primary);
  padding: var(--spacer-s) var(--spacer-base);
  border-radius: 1em;
  cursor: pointer;
  transition: 0.2s all;
}

.button:active {
  transform: scale(0.98);
}

/* content */

.content {
  flex: 1;
  background: var(--background-primary);
}

.content__container {
  max-width: var(--layout-width-base);
  padding: 0 var(--layout-padding-base);
  margin: calc(2 * var(--layout-padding-base)) auto;
}

.content__inline-icon {
  vertical-align: bottom;
}
