---
import BaseLayout from './Base.astro';

const { content: { title, description, heroImage }} = Astro.props;
---
<BaseLayout meta={{ title, description, heroImage, lang: 'ru' }}>
	<h1>{title}</h1>
	<main>
		<slot />
	</main>
</BaseLayout>
