---
import BaseLayout from 'src/layouts/ru/Base.astro';
import Img from 'src/components/Img.astro';
import Link from 'src/components/Link.astro'
import { DONATE_BOOSTY_URL, PODCAST_SITE_URL } from 'src/config';

const meta = {
	title: 'Главная',
	description: 'Проект, где я пытаюсь собрать контент, который когда-то выпускал, также делюсь новыми техническими заметками и выпусками подкаста Станция НЛО',
};
---
<style>
	.mainpage__hero-image {
		height: 200px;
		background-position: center right;
		background-image: url(/assets/hero.jpg);
		background-size: cover;
	}

	.mainpage__notes {
		display: flex;
		flex-direction: row;
		gap: 2em;
	
	}

	.mainpage__notes-description {
		flex: 1;
		margin-bottom: 1em;
	}

	.mainpage__notes-navigation {
		flex: 1;
	}

	@media (max-width: 640px) {
		.mainpage__notes {
			display: block;
		}
	}
</style>
<BaseLayout meta={meta}>
	<main>
		<h2>Прием! Как слышно?</h2>

		<div class="mainpage__hero-image" />
		
		<p>
			Добро пожаловать на проект, где я пытаюсь собрать контент, который когда-то выпускал, также делюсь новыми <Link href="/ru/posts/">техническими заметками</Link> и выпусками подкаста <a href={PODCAST_SITE_URL}>Станция НЛО</a>. 
		</p>

		<p>
			Буду рад, если вы <a href={DONATE_BOOSTY_URL}>захотите меня поддержать</a>
		</p>
{/* 
		<p>
			This site is also available in <Link href="/en">English</Link> <Img class="content__inline-icon" width="16px" height="16px" alt="English language" src="/assets/icons/flag-en.svg" />
		</p>
*/}
	</main>
</BaseLayout>
