---
import BaseLayout from "src/layouts/ru/Base.astro";

import HeroSection from "./_sections/_hero.astro";
import BlogSection from "./_sections/_blog.astro";
import PodcastSection from "./_sections/_podcast.astro";
import SeriesSection from "./_sections/_series.astro";
import SupportSection from "./_sections/_support.astro";


const meta = {
  title: "Главная",
  description: "Технические статьи, заметки, подкаст про информационные технологии",
};
---
<style>
  .mainpage__section:first-child {
    margin: 0;
  }
  .mainpage__section {
    margin: 5em 0;
  }
</style>

<BaseLayout meta={meta}>
  <HeroSection slot="hero" />

  <section class="mainpage__section">
    <SeriesSection />
  </section>
  
  <section class="mainpage__section">
    <BlogSection />
  </section>

  <section class="mainpage__section">
    <PodcastSection />
  </section>

</BaseLayout>
