---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const isActive = (Astro.url.pathname.replace(/\/$/, '') + '/').startsWith(href.toString());
---

<a href={href} class:list={[className, { active: isActive }]} {...props}><slot /></a>