---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href:rawHref, class: className, ...props } = Astro.props;

const href = import.meta.env.BASE_URL + rawHref.toString().replace(/^\//, '');
---
<a href={href} class:list={className} {...props}><slot /></a>