<style>
  #reading-progress {
    position: fixed;
    width: 100%;
    height: 5px;
    z-index: 9999;
    top: 0;
    left: 0;
  }

  #reading-progress-fill {
    height: 5px;
    width: 0;
    background: #ccc;
  }
</style>

<div id="reading-progress"><div id="reading-progress-fill"></div></div>

<script is:inline>
  const progressElement = document.querySelector("#reading-progress-fill");
  const articleElement = document.querySelector("article");

  document.addEventListener(
    "scroll",
    function (e) {
      const top = Math.max(
        0,
        document.body.scrollTop || document.documentElement.scrollTop
      );
      const height =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight;
      const percentage = (top / height) * 100;

      progressElement.style.setProperty("width", percentage + "%");
    },
    true
  );
</script>
