---
import Img from './Img.astro';
import { createFacebookShareURL, createTwitterShareURL } from '../lib/content';
import { t } from '../locales';

export interface Props {
  title: string;
  url: URL;
  type: 'post' | 'podcast';
}

const { title, url, type } = Astro.props;
---

<style>
  .share {
    margin: var(--spacer-l) 0;
    padding: var(--spacer-base);
    background-color: var(--post-footer-background-color);
  }
  .share-icons {
    display: inline;
  }
  .share-icon {
    height: 24px;
    width: 24px;
    vertical-align: text-bottom;
    margin-left: var(--spacer-xs);
  }
</style>

<div class="share">
  {type === 'post' && t('wantToShareThePost')}
  {type === 'podcast' && t('wantToShareThePodcast')}

  <div class="share-icons">
    <a
      href={createTwitterShareURL(title, new URL(url, Astro.url))}
      target="_blank"
    >
      <Img
        class="share-icon"
        width="20px"
        height="20px"
        alt={t('shareTwitter') as string}
        src="/assets/icons/social_twitter.svg"
      />
    </a>

    <a
      href={createFacebookShareURL(title, new URL(url, Astro.url))}
      target="_blank"
    >
      <Img
        class="share-icon"
        width="20px"
        height="20px"
        alt={t('shareFacebook') as string}
        src="/assets/icons/social_facebook.svg"
      />
    </a>
  </div>
</div>
