---
import Img from "../Img.astro";

const { url } = Astro.props;
---
<a href={url}>
    <div class="post__attachment">
        <Img src="/assets/icons/file-pdf.png" class="post__attachment-icon" /> 
        <div class="post__attachment-description">
           <slot />
        </div>
    </div> 
</a>
