---
import { t } from "src/locales";
import Link from "../Link.astro";

const { prev, next } = Astro.props;
---
<div class="posts-pagination">
    {prev ? <Link class="posts-pagination__prev" href={prev as string} aria-label={t('PrevPage')}>← {t('toTheFuture')}</Link> : null}
    {next ? <Link class="posts-pagination__next" href={next as string} aria-label={t('NextPage')}>{t('toThePast')} →</Link> : null}
</div>
