---
import BaseLayout from "src/layouts/common/Base.astro";

const meta = {
  title: "Series",
  description: "",
  lang: "en",
};
---

<BaseLayout meta={meta}>
  <h2>TODO: Series index page</h2>
</BaseLayout>
