---
import { GITHUB_URL, SOURCE_DIR } from 'src/config'
import { t } from 'src/locales';

export interface Props {
  file: string;
}

const { file } = Astro.props;

const filepath = file.substring(SOURCE_DIR.length + 1);
const url = `${GITHUB_URL}/edit/main/${filepath}`
---

<p>
    {t('findAmistakeOrTypo')}{' '}<a href=`${url}`>{t('suggestAFix')}</a>
</p>