---
import { GITHUB_URL } from 'src/config'
import { t } from 'src/locales';

const url = `${GITHUB_URL}/edit/main/src/pages${Astro.url.pathname}.astro`
---

<p>
    {t('findAmistakeOrTypo')} <a href=`${url}`>{t('suggestAFix')}</a>
</p>