---
import { GITHUB_URL, SOURCE_DIR } from 'src/config'
import { t } from 'src/locales';

const filename = Astro.self.moduleId.substring(SOURCE_DIR.length + 1);
const url = `${GITHUB_URL}/edit/main/${filename}`
---

<p>
    {t('findAmistakeOrTypo')}{' '}<a href=`${url}`>{t('suggestAFix')}</a>
</p>