---
import { getSeriesPosts } from 'src/lib/posts.astro';
import ActiveLink from '../ActiveLink.astro';

export interface Props {
  title?: string;
  series: string;
}

const { title, series } = Astro.props;

const posts = await getSeriesPosts(series);
---

<style>
  .post-navigation {
    padding: var(--spacer-base);
  }
  .post-navigation__title {
    margin-bottom: var(--spacer-base);
    font-weight: 700;
  }
  .post-navigation__menu {
    margin: 0;
    padding: 0 0 0 var(--spacer-base);
  }
  .post-navigation__item {
    margin: 0;
    padding: 0 0 var(--spacer-xs) 0;
    color: var(--color-text-link);
  }
</style>
<nav class="post-navigation">
  {title ? <div class="post-navigation__title">{title}</div> : null}
  <ul class="post-navigation__menu">
    {
      posts.map((post) => (
        <li class="post-navigation__item">
          <ActiveLink href={post.url}>{post.frontmatter.title}</ActiveLink>
        </li>
      ))
    }
  </ul>
</nav>
