---
export interface Props {
  code: string;
}

const { code } = Astro.props;
---

<style>
  .youtube-video__container {
    position: relative;
    padding-top: 56.25%;
  }

  .youtube-video__container iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
</style>

<div class="youtube-video__container">
  <iframe
    src={`https://www.youtube.com/embed/${code}`}
    title="YouTube video player"
    frameborder="0"
    width="560"
    height="315"
    allowfullscreen></iframe>
</div>
