---
import ActiveLink from 'src/components/ActiveLink.astro';
import Img from 'src/components/Img.astro';

const isArchivePage = import.meta.env.BASE_URL + 'ru/posts/archive' === Astro.url.pathname.replace(/\/$/, '');
---
<div class="posts-header">
    <h2 class="posts-header__title">{Astro.props.title}</h2>
    <ul class="posts-header__menu">
        { isArchivePage ? (
            <li class="posts-header__item">
                <ActiveLink href="/ru/posts">Все посты</ActiveLink>
            </li>
        ): (
            <li class="posts-header__item">
                <ActiveLink href="/ru/posts/archive">Архив</ActiveLink>
            </li>
        )}    
        <li class="posts-header__item">
            <ActiveLink href="/ru/posts/rss.xml">
                <Img class="posts-header__rss" src="/assets/icons/rss.svg" height="18px" width="18px" alt="RSS" />
            </ActiveLink>
        </li>
    </ul>
</div>