---
import Link from 'src/components/Link.astro';
import { SITE_TITLE } from 'src/config';

---
<header class="header">
	<div class="header__container">
		<Link href="/" class="header__title">
			{SITE_TITLE}
		</Link>
		<slot />
	</div>
</header>
