---
import Typed from 'src/components/Typed.astro';
import Link from 'src/components/Link.astro';
import { getFeaturedPosts } from 'src/lib/posts.astro';

const posts = await (await getFeaturedPosts()).slice(0, 15);
---

<style>
  .section-hero {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    min-height: calc(100vh - var(--header-layout-height));
  }

  .section-hero__container {
    position: relative;
    color: var(--text-secondary);
    max-width: var(--layout-width-base);
    margin: 0 auto;
    padding: 0 var(--layout-padding-base);
    z-index: 1;
  }

  .section-hero__logo {
    margin-top: var(--spacer-base);
  }

  .section-hero__logo-image {
    margin: 0 auto;
    display: block;
  }

  .section-hero__title {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-size: var(--hero-title-font-size);
    line-height: 1.2em;
    color: var(--color-text-base);
    text-align: center;
  }

  .section-hero__subtitle {
    font-family: var(--font-family-primary);
    color: var(--color-text-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-heading-h3);
    line-height: 1.1em;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: var(--spacer-xl);
  }

  .section-hero__more {
    margin: 6rem 0 var(--spacer-l);
  }

  .section-hero__more-label {
    font-size: var(--font-size-heading-h4);
    font-weight: 300;
    font-family: var(--font-family-secondary);
    text-align: center;
    line-height: 2em;
  }

  .section-hero__more-article {
    font-size: var(--font-size-heading-h4);
    font-weight: 300;
    font-family: var(--font-family-secondary);
    text-align: center;
    line-height: 1.1;
    height: 2.2em;
  }

  .section-hero__more-article .typed-cursor {
    color: var(--color-text-base-inverted);
  }

  @media (max-width: 768px) {
    .section-hero__title {
      font-size: var(--hero-title-font-size-smaller);
    }

    .section-hero__subtitle {
      font-size: var(--font-size-heading-h3);
    }

    .section-hero__container {
      font-size: var(--font-size-base);
    }
  }
  @media (max-width: 576px) {
  }
</style>

<Typed selector="#post-titles" posts={posts} />

<div class="section-hero">
  <div class="section-hero__container">
    <div class="section-hero__logo">
      <img
        src="/assets/logo.svg"
        width="200"
        height="200"
        class="section-hero__logo-image"
      />
    </div>
    <div class="section-hero__title">Станция НЛО</div>
    <div class="section-hero__subtitle">
      технические <Link href="/ru/posts/">статьи</Link>,
      <Link href="/ru/series/">серии заметок</Link>,
      <Link href="/ru/podcasts">подкаст</Link><br />
      про информационные технологии
    </div>
    <div class="section-hero__more">
      <div class="section-hero__more-label">Уже читали?</div>
      <div class="section-hero__more-article">
        <a class="typed" id="post-titles"></a>
      </div>
    </div>
  </div>
</div>
