---
---

<style>
  .section-podcast {
    padding: var(--spacer-l);
    background: var(--background-substrate);
  }

  .section-podcast__columns {
    display: flex;
  }

  .section-podcast__column--left {
    flex: 2;
  }
  .section-podcast__column--right {
    flex: 1;
    text-align: right;
    align-self: center;
  }
  .section-podcast__title {
    font-size: var(--font-size-heading-h1);
  }
  .section-podcast__content {
    font-size: var(--font-size-loud);
    font-weight: 300;
    margin: var(--spacer-xl) 0;
  }
  .section-podcast__link {
    font-size: var(--font-size-heading-h4);
  }
  .section-podcast__icon {
    width: 250px;
    height: 250px;
    opacity: 0.9;
  }
  @media (max-width: 768px) {
    .section-podcast__columns {
      flex-direction: column-reverse;
    }
    .section-podcast__icon {
      margin-top: var(--spacer-l);
    }
    .section-podcast__title {
      font-size: var(--font-size-heading-h4);
    }
    .section-podcast__content {
      font-size: var(--font-size-heading-h5);
    }
  }
</style>
<div class="section-podcast">
  <div class="section-podcast__title">Больше как слушатель ?</div>

  <div class="section-podcast__columns">
    <div class="section-podcast__column section-podcast__column--left">
      <div class="section-podcast__content">
        Познакомьтесь с <a href="/ru/podcasts">подкастом</a>, где вы узнаете о
        том, как работает браузер, что такое блокчейн, в чем красота
        функционального программирования, а также о многом другом.
      </div>

      <div class="section-podcast__link">
        <a href="/ru/podcasts">Слушать выпуски →</a>
      </div>
    </div>

    <div class="section-podcast__column section-podcast__column--right">
      <img
        src="/assets/icons/mic.svg"
        class="section-podcast__icon"
        alt="Изображение: микрофон"
      />
    </div>
  </div>
</div>
