---
import Navigation from "src/components/posts/Navigation.astro";

---
<style>
.section-series {
  display: flex;
  padding: 2em;
  background: var(--background-secondary);
  gap: 4em;
}
.section-series__column--left {
    flex: 1.6;
}
.section-series__column--right {
    flex: 1;
    padding: 1em;
    background: #080b0e;
    align-self: center;
}
.section-series__column--right nav {
  background: none;
}
.section-series__title {
    font-size: 3em;
    font-weight: 400;
}
.section-series__content {
    font-size: 1.4em;
    font-weight: 300;
    margin: 2em 0;
}
.section-series__link {
    font-size: 1.5em;
}
.section-series__icon {
    width: 250px;
    height: 250px;
}
@media (max-width: 768px) {
    .section-series__title {
        font-size: 2em;
    }
    .section-series__content {
        font-size: 1.1em;
    }
    .section-series {
        display: block;
    }
}
</style>
<div class="section-series">

    <div class="section-series__column section-series__column--left">
        <div class="section-series__title">
            История развития HTTP
        </div>

        <div class="section-series__content">
          Вне зависимости от того каким веб-разработчиком вы являетесь, frontend или backend, знания HTTP-протокола всегда будут актуальными, поскольку сетевая составляющая является неотъемлемой частью веб’а.
        </div>
    </div>

    <div class="section-series__column section-series__column--right">
        Содержание серии
        <Navigation series="http" />
    </div>

</div>